[submodule "mods/digtron"]
  path = mods/digtron
  url = https://github.com/IceDragon200/digtron
[submodule "mods/foundation"]
  path = mods/foundation
  url = https://github.com/IceDragon200/mt-foundation
[submodule "mods/harmonia"]
  path = mods/harmonia
  url = https://github.com/IceDragon200/mt-harmonia
[submodule "mods/nokore"]
  path = mods/nokore
  url = https://github.com/IceDragon200/mt-nokore-mods
[submodule "mods/yatm"]
  path = mods/yatm
  url = https://github.com/IceDragon200/mt-yatm
[submodule "mods/hsw_maidroid"]
  path = mods/hsw_maidroid
  url = https://github.com/IceDragon200/hsw_maidroid
[submodule "mods/mobkit"]
  path = mods/mobkit
  url = https://github.com/TheTermos/mobkit
[submodule "mods/nokore_mesecons"]
  path = mods/nokore_mesecons
  url = https://github.com/IceDragon200/nokore_mesecons
[submodule "mods/placement_preview"]
  path = mods/placement_review
  url = https://github.com/IceDragon200/placement_preview
[submodule "mods/3d_armor"]
  path = mods/3d_armor
  url = https://github.com/IceDragon200/3d_armor
[submodule "mods/hazmat_suit"]
  path = mods/hazmat_suit
  url = https://github.com/IceDragon200/hazmat_suit
